- provide(:title, 'Edit user')
- provide(:button_text, 'Save changes')

.row
    .col-lg-6.offset-lg-3
        %h1.mb-4.text-center Update your profile
        = render 'form'

        .gravatar_edit
            = gravatar_for @user
            = link_to '//gravatar.com/emails', target: '_blank', rel: 'noopener' do
                = fa_icon 'external-link', text: 'change', right: true
