- if @user.errors.any?
    #error_explanation
        .alert.alert-danger
            %h5.alert-heading= 'Oops! The form contains %s.' % pluralize(@user.errors.count, 'error')
            %ul.mb-0.pl-4
                - @user.errors.full_messages.each do |msg|
                    %li= msg